// Seccion Inicio

.home {
  height: 88vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
.home-img img {
  width: 100%;
  height: auto;
}
.home-text h1 {
  font-size: var(--big-font);
  line-height: 1.2;
  margin-bottom: 2rem;
}
.home-text p {
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--second-color);
  line-height: 32px;
  margin-bottom: 2.3rem;
}

// Seccion Quienes Somos

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
.about-img img {
  height: auto;
  width: 100%;
}
.about-text h2 {
  font-size: var(--h2-font);
  margin-bottom: 2rem;
  line-height: 1.3;
}
.about-text p {
  font-size: var(--p-font);
  color: var(--second-color);
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 2.3rem;
}

.btn {
  display: inline-block;
  padding: 14px 26px;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 15px;
  font-weight: 600;
  border-radius: 5rem;
  transition: all 0.38s ease;
}
.btn:hover {
  letter-spacing: 1px;
}

// Seccion Nuestros Productos

.lista-producto {
  background: #fffbf6;
}

.contenedor-producto {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.contenedor-producto .titulo {
  font-size: 3.5rem;
  color: #333;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.contenedor-producto .products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.contenedor-producto .products-container .producto {
  text-align: center;
  padding: 3rem 2rem;
  background: #fffbf6;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  outline: 0.1rem solid #ccc;
  outline-offset: -1.5rem;
  cursor: pointer;
}

.contenedor-producto .products-container .producto:hover {
  outline: 0.2rem solid #222;
  outline-offset: 0;
}

.contenedor-producto .products-container .producto img {
  height: 25rem;
}

.contenedor-producto .products-container .producto:hover img {
  transform: scale(0.9);
}

.contenedor-producto .products-container .producto h3 {
  padding: 0.5rem 0;
  font-size: 2rem;
  color: #444;
}

.contenedor-producto .products-container .producto:hover h3 {
  color: #6b8e23;
}

.contenedor-producto .products-container .producto .precio {
  font-size: 2rem;
  color: #444;
}

.products-preview {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}

.products-preview .preview {
  display: none;
  padding: 2rem;
  text-align: center;
  background: #fffbf6;
  position: relative;
  margin: 2rem;
  width: 40rem;
}

.products-preview .preview.active {
  display: inline-block;
}

.products-preview .preview img {
  height: 30rem;
}

.products-preview .preview .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #444;
  font-size: 4rem;
}

.products-preview .preview .fa-times:hover {
  transform: rotate(90deg);
}

.products-preview .preview h3 {
  color: #444;
  padding: 0.5rem 0;
  font-size: 2.5rem;
}

.products-preview .preview .stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.products-preview .preview .stars i {
  color: #6b8e23;
}

.products-preview .preview .stars span {
  color: #999;
}

.products-preview .preview p {
  line-height: 1.5;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #777;
}

.products-preview .preview .precio {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: #6b8e23;
}

.products-preview .preview .buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.products-preview .preview .buttons a {
  flex: 1 1 16rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: #444;
  border: 0.1rem solid #444;
}

.products-preview .preview .buttons a.cart {
  background: #444;
  color: #fffbf6;
}

.products-preview .preview .buttons a.cart:hover {
  background: #111;
}

.products-preview .preview .buttons a.buy:hover {
  background: #444;
  color: #fffbf6;
}

.menu-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
  align-items: center;
  margin-top: 4rem;
  cursor: pointer;
}

.row img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.row {
  transition: all 0.38s ease;
}
.menu-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.menu-left h4 {
  font-size: 23px;
}
.menu-right h5 {
  color: var(--main-color);
  font-size: 23px;
}
.row p {
  color: var(--second-color);
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 15px;
}
.star i {
  color: var(--main-color);
  font-size: 17px;
  margin-right: 4px;
}
.row:hover {
  transform: scale(1.02);
}

// Seccion Registro
.registro {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fffbf6;
  padding: 30px;
}
.registro-contenedor {
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fffbf6;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
  .cubierta {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
  }
}

.registro-contenedor #voltea:checked ~ .cubierta {
  transform: rotateY(-180deg);
}
.registro-contenedor .cubierta .front,
.registro-contenedor .cubierta .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cubierta .back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.registro-contenedor .cubierta::before,
.registro-contenedor .cubierta::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #6b8e23;
  opacity: 0.5;
  z-index: 12;
}
.registro-contenedor .cubierta::after {
  opacity: 0.3;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.registro-contenedor .cubierta img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}
.registro-contenedor .cubierta .text {
  position: absolute;
  z-index: 130;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cubierta .text .text-1,
.cubierta .text .text-2 {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.cubierta .text .text-2 {
  font-size: 15px;
  font-weight: 500;
}
.registro-contenedor .forms {
  height: 100%;
  width: 100%;
  background: #fff;
}
.registro-contenedor .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form {
  width: calc(100% / 2 - 25px);
}
.forms .form-content .title {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #6b8e23;
}
.forms .signup-form .title:before {
  width: 20px;
}
.forms .form-content .input-boxes {
  margin-top: 30px;
}
.forms .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid {
  border-color: #6b8e23;
}
.form-content .input-box i {
  position: absolute;
  color: #6b8e23;
  font-size: 17px;
}
.forms .form-content .text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .text a {
  text-decoration: none;
}
.forms .form-content .text a:hover {
  text-decoration: underline;
}
.forms .form-content .button {
  color: #fff;
  margin-top: 40px;
}
.forms .form-content .button input {
  color: #fff;
  background: #6b8e23;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover {
  background: #ff9100;
}
.forms .form-content label {
  color: #ff9100;
  cursor: pointer;
}
.forms .form-content label:hover {
  text-decoration: underline;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text {
  text-align: center;
  margin-top: 25px;
}
.registro-contenedor #voltea {
  display: none;
}
